<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Specify the file target -->
		<target xsi:type="File" name="file" fileName="logfile.txt" layout="${longdate} ${level} ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Define a rule to use the file target -->
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
